<a href="https://colab.research.google.com/github/Derfiee/OOP-580022/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [ ]:
a=7
b=6

print(10>9)
print(10<9)
print(a>b)

True
False
True

Bool() function

In [ ]:
print(bool("Alfred"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Functions can return a Boolean

In [ ]:
def my_Function():
  return True

print(my_Function())

True

In [ ]:
if my_Function():
  print("True")
else:
  print("False")

True

In [ ]:
print (10>9)

a=6
b=7
print(a==b)
print(a!=a)
a<b
a>b
a=b

True
False
False

0

Phython Operators

In [ ]:
print(10+5)
print(10-5)
print(10/3)
print(10*5)
print(10%5)
print(10//3) #10/3=3.3333

15
5
3.3333333333333335
50
0
3

Bitwise Operators

In [ ]:
c=60 # binary 0011 1100
d=13 # binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

Logical Operators

In [ ]:
h = True
l = False
h and l
h or l
not (h or l)

False

Application 2

In [ ]:
#Phython Assignment Operators

In [ ]:
x = 100
x+=3 #Same as x = x +3, x = 100+3=103
print(x)

103

Identity Operators

In [ ]:
h is l
h is not l

True

Control Structure

if statement

In [ ]:
if a>b:
  print("a is greater than b")

Elif Statement

In [ ]:
if a<b:
  print("a is less than b")
elif a>b:
  print*("a is greater than b")

Short hand If Statement

In [ ]:
if a==b: print("a is equal to b")

a is equal to b

Short Hand if...Else Statement

In [ ]:
a = 6
b = 9
print("a is greater than b") if a>b else print("b is greater than a")

b is greater than a

And

In [ ]:
if a<b and b==b:
  print("the condition is True")

the condition is True

Nested if

In [ ]:
x = int(input())

if x>10:
  print("x is above 10")
  if x>20:
     print("and also above 20")
     if x>30:
        print("and also above 30")
        if x>40:
           print("and also above 40")
        else:
           print("but not above 40")

20
x is above 10

Loop Statement

For Loop

In [ ]:
week =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
for x in week:
print(x):

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

IndentationError: ignored

The Break Statement

In [ ]:
#to display Sunday to Wednesday using for loop

for x in week:
  print(x)
  if x=="Wednesday":
    break

NameError: ignored

In [ ]:
#to display only Wednesday using break statement

for x in week:
   if x=="Wednesday":
     break
print(x)

NameError: ignored

While Statement

In [ ]:
i=1
while i<6:
  print(i)
  i+=1 #same as i = i+1

1
2
3
4
5

Application 3 - Create a phython prgram that displays no.3 using break statement

In [ ]:
i=1
while i<6:
  if i==3:
    break
  i+=1
  print(i)

2
3